<!--== Loader Start ==-->
<!-- <div id="loader-overlay">
  <div class="loader">
    <div class="spinner">
    	<svg viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
    		<circle class="length" fill="none" stroke-width="8" stroke-linecap="round" cx="33" cy="33" r="28"></circle>
    	</svg>
    	<svg viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
    		<circle fill="none" stroke-width="8" stroke-linecap="round" cx="33" cy="33" r="28"></circle>
    	</svg>
    	<svg viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
    		<circle fill="none" stroke-width="8" stroke-linecap="round" cx="33" cy="33" r="28"></circle>
    	</svg>
    	<svg viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
    		<circle fill="none" stroke-width="8" stroke-linecap="round" cx="33" cy="33" r="28"></circle>
    	</svg>
    </div>
  </div>
</div> -->
<!--== Loader End ==-->

<!--== Wrapper Start ==-->
<div class="wrapper">

  <!--== Header Start ==-->
  <nav class="navbar navbar-default navbar-sidebar bootsnav no-full">

    <div class="container">

      <!--== Start Header Navigation ==-->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu"> <i class="tr-icon ion-android-menu"></i> </button>
        <div class="logo"> <a href="index.html">
          <img style="max-height: 120px;" class="logo logo-scrolled" src="assets/images/logo-fire.png" alt=""> </a> </div>
      </div>
      <!--== End Header Navigation ==-->

      <!--== Collect the nav links, forms, and other content for toggling ==-->
      <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="nav navbar-nav">
          <li><a class="page-scroll" href="#home">Home</a></li>
          <li><a class="page-scroll" href="#feature">Mapa</a></li>
          <li><a class="page-scroll" href="#team">Team</a></li>
        </ul>
        <!-- Start Share -->
        <div class="share social-icons-style-09 display-none-md">
          <ul class="sm-icon">
            <!-- <li><a class="facebook" href="#."><i class="icofont icofont-social-facebook"></i></a></li>
            <li><a class="twitter" href="#."><i class="icofont icofont-social-twitter"></i></a></li>
            <li><a class="linkedin" href="#."><i class="icofont icofont-social-linkedin"></i></a></li>
            <li><a class="youtube" href="#."><i class="icofont icofont-social-youtube"></i></a></li> -->
          </ul>
        </div>
        <!-- End Share -->

      </div>
      <!--== /.navbar-collapse ==-->
    </div>
  </nav>
  <!--== Header End ==-->

  <!--== Hero Slider Start ==-->

  <section class="home-slider no-direction" id="home">
    <div class="default-slider slick">
      <div class="slide">
        <div class="slide-img parallax-effect" style="background:url(assets/images/background-nasa.jpg) center center / cover scroll no-repeat;"></div>
        <div class="hero-text-wrap">
          <div class="hero-text white-color">
            <div class="container">
              <div class="white-color xs-text-center">
                <h4 class="white-color raleway-font font-300">Bolivia Fire Map</h4>
                <h1 class="white-color font-700 text-uppercase font-100px line-height-90 xs-font-40px xs-line-height-50 sm-font-60px sm-line-height-60">Bolivia<br> Mapa de Incendios</h1>
                <p class="mt-30"><a href="#feature" class="btn btn-light-outline btn-lg btn-square">VER</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--== Hero Slider End ==-->

  <!--== Who We Are Start ==-->
  <section class="white-bg pb-80" id="feature">
    <div class="container">
      <div class="row">
        <router-outlet></router-outlet>
      </div>
    </div>
  </section>
  <!--== Who We Are End ==-->


  <!--== Team Start ==-->
  <section class="grey-bg" id="team">
    <div class="container">
      <div class="row">
        <div class="col-md-8 centerize-col text-center">
          <div class="section-title">
            <h2 class="raleway-font default-color">La explotacionn</h2>
            <h1 class="raleway-font">Our Creative Team</h1>
          </div>
          <p>
            We are students from Universidad Privada Domingo Savio (UPDS), and we have developed this web page to enhance our technical skills and actively participate in NASA challenges. Through this project, we aim to apply our knowledge, collaborate as a team, and contribute innovative solutions to real-world problems.
          </p>
        </div>
      </div>

      <div class="row mt-50">
        <div class="team-slider slick">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="team-member">
              <div class="team-thumb">
                <div class="thumb-overlay"></div>
                <img src="assets/images/team/team-1.jpg" alt="">
                <div class="member-info text-center default-bg">
                  <h3>Pablo Hilaquita</h3>
                  <span class="title">Full Stack Developer</span>
                  <ul class="social-link list-inline">
                    <li><a href="#" class="facebook"><i class="icofont icofont-social-facebook"></i></a></li>
                    <li><a href="#" class="twitter"><i class="icofont icofont-social-twitter"></i></a></li>
                    <li><a href="#" class="pinterest"><i class="icofont icofont-social-pinterest"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!--== Member End ==-->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="team-member">
              <div class="team-thumb">
                <div class="thumb-overlay"></div>
                <img src="assets/images/team/team-2.jpg" alt="">
                <div class="member-info text-center secondary-bg">
                  <h3>Jhyssel Laura Aquino Loza</h3>
                  <span class="title">Junior Developer</span>
                  <ul class="social-link list-inline">
                    <li><a href="#" class="facebook"><i class="icofont icofont-social-facebook"></i></a></li>
                    <li><a href="#" class="twitter"><i class="icofont icofont-social-twitter"></i></a></li>
                    <li><a href="#" class="pinterest"><i class="icofont icofont-social-pinterest"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!--== Member End ==-->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="team-member">
              <div class="team-thumb">
                <div class="thumb-overlay"></div>
                <img src="assets/images/team/team-3.jpg" alt="">
                <div class="member-info text-center default-bg">
                  <h3>Christopher Huayhua </h3>
                  <span class="title">FullStack Developer</span>
                  <ul class="social-link list-inline">
                    <li><a href="#" class="facebook"><i class="icofont icofont-social-facebook"></i></a></li>
                    <li><a href="#" class="twitter"><i class="icofont icofont-social-twitter"></i></a></li>
                    <li><a href="#" class="pinterest"><i class="icofont icofont-social-pinterest"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="team-member">
              <div class="team-thumb">
                <div class="thumb-overlay"></div>
                <img src="assets/images/team/team-1.jpg" alt="">
                <div class="member-info text-center default-bg">
                  <h3>Jamil Nayguel Castro Dias</h3>
                  <span class="title">Junior Developer</span>
                  <ul class="social-link list-inline">
                    <li><a href="#" class="facebook"><i class="icofont icofont-social-facebook"></i></a></li>
                    <li><a href="#" class="twitter"><i class="icofont icofont-social-twitter"></i></a></li>
                    <li><a href="#" class="pinterest"><i class="icofont icofont-social-pinterest"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!--== Team End ==-->

  <!--== Contact Start ==-->
  <section>
    <div class="container-fluid">
      <div class="row mt-50">
        <div id="map-style-3" class="wide"></div>
      </div>
    </div>
  </section>
  <!--== Contact End ==-->

  <!--== Footer Start ==-->
  <footer class="footer">
    <div class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <div class="copy-right text-left">© 2024 UPDS. All rights reserved</div>
          </div>
          <div class="col-md-6 col-xs-12">
            <ul class="social-media">
              <li><a href="#" class="icofont icofont-social-facebook"></a></li>
      			  <li><a href="#" class="icofont icofont-social-twitter"></a></li>
      			  <li><a href="#" class="icofont icofont-social-behance"></a></li>
      			  <li><a href="#" class="icofont icofont-social-dribble"></a></li>
              <li><a href="#" class="icofont icofont-social-linkedin"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--== Footer End ==-->

  <!--== Go to Top  ==-->
  <a href="javascript:" id="return-to-top"><i class="icofont icofont-arrow-up"></i></a>
  <!--== Go to Top End ==-->

</div>
<!--== Wrapper End ==-->
